

.Titulo {
  text-align: center;
  text-shadow: 2px 2px 5px blueviolet;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  
}


.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: blue;
  text-align: center;
  cursor: pointer;
  width: 60%;
  font-size: 18px;
  display: flex;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card button:hover {
  opacity: 0.7;
}

.formulario {
  text-align: center;
  
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.formulario button {
  border: none;
  outline: 0;
  padding: 5px;
  color: white;
  background-color: blue;
  text-align: center;
  cursor: pointer;
  width: 43%;
  font-size: 18px;
  display: unset;
  justify-content: right;  
}
.formulario input {
  height: 24px;
}